{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h2>Bienvenue dans le module de vente de l'ERP</h2>
    <p>Ici, vous pouvez gérer les bons de livraison.</p>
    <p>Utilisez le menu pour naviguer entre les différents modules.</p>
    <p>Pour commencer, vous pouvez consulter les bons de livraison.</p>
    <p>Vous pouvez également ajouter un nouveau bon de livraison.</p>
    <p>Bonne journée !</p>

{% endblock %}
