{% extends 'base.html.twig' %}

{% block title %}Edit BonLivraison{% endblock %}

{% block body %}
    <h1>Edit BonLivraison</h1>

    {{ include('bon_livraison/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bon_livraison_index') }}">back to list</a>

    {{ include('bon_livraison/_delete_form.html.twig') }}
{% endblock %}
